In [1]:
import pandas as pd

In [2]:
# df = pd.read_csv('../data/all_data.csv')
df = pd.read_csv('../data/sampled_data.csv')

In [3]:
from src.data_processing.data_cleaning import clean_data

df = clean_data(df)

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\kanio\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

{'dzisiaj', 'jak', 'ono', 'jedno', 'nasze', 'ze', 'sie', 'juz', 'ktore', 'za', 'może', 'po', 'sama', 'o', "'", 'zawsze', 'nas', 'nasi', 'to', 'tobą', 'wasze', 'dla', 'nam', 'f', 'wasi', 'moze', 'do', 'jemu', 'ich', 'kto', 'dlatego', 'już', 'im', 'więc', 'że', 'na', 'oni', 'wasza', 'niego', 'moje', 'jeśli', 'ma', 'tu', 'i', 'twoje', 's', 'obok', 'sam', 'moi', 'ku', 'tak', '`', 'nią', 'w', 'mają', 'przed', 'nic', 'my', 'niej', 'około', 'bez', 'wy', 'mam', 'aj', 'tutaj', 'ten', 'fe', 'są', 'lub', 'nie', 'ona', 'we', 'wszystko', 'bo', 'co', 'daleko', 'moja', 'go', 'jedna', 'ciebie', 'wami', 'od', 'mi', 'taki', 'ale', 'bardzo', 'jaki', 'wasz', 'twoja', 'owszem', 'dość', 'dwoje', 'ponieważ', 'ją', 'a', 'ile', 'gdzie', 'niemu', 'nim', 'tez', 'się', 'mój', 'jest', 'nasza', 'skąd', 'mu', 'przedtem', 'mnie', 'niż', 'dziś', 'natychmiast', 'z', 'jeżeli', 'ktora', 'm', 'one', 'dwaj', 'ktory', 'dwa', 'was', 'nich', 'jeden', 'gdyby', 'jestem', 'dobrze', 'sa', 'dużo', 'jakby', 'ja', 'on', 'nasz', 'dwie', 'wam', 'je', 'mną', 'tobie', 'kiedy', 'wtedy', 'kierunku', 'oraz', 'jego', 'żaden', 'być', 'cię', 'czy', 'przez', 'jej', 'dlaczego', 'aby', 'tam', 'twój', 'ci', 'po pod', 'ach', 'ty', 'dokąd', 'nimi', 'inny', 'każdy', 'nigdy', 'albo', 'twoi', 'nami', 'tym'}

100%|██████████| 600/600 [00:39<00:00, 15.17it/s]
100%|██████████| 600/600 [00:00<00:00, 72149.72it/s]
100%|██████████| 600/600 [00:00<00:00, 447312.90it/s]
100%|██████████| 497/497 [00:00<00:00, 349994.81it/s]

In [4]:
df

,headline,content,url,category
0,to pierwszy taki statek komercyjny ma nietypow...,NaN,https://geekweek.interia.pl/technologia/news-t...,technologia
1,spacex chce obnizyc orbite satelitow starlink ...,NaN,https://geekweek.interia.pl/technologia/news-s...,technologia
2,najpotezniejszy samolot w historii ludzkosci u...,NaN,https://geekweek.interia.pl/technologia/news-n...,technologia
3,ministerstwo cyfryzacji zwraca sie do apple ch...,NaN,https://geekweek.interia.pl/technologia/news-m...,technologia
4,samsung galaxy s z exynosem fani zawiedzeni wy...,NaN,https://geekweek.interia.pl/technologia/news-s...,technologia
...,...,...,...,...
595,kinga zawodnik wyznala ze mezczyzni sie jej ws...,NaN,"https://www.plotek.pl/plotek/7,154063,31375788...",yapping
596,manowska chwali sie wakacjami zamiescila zdjec...,NaN,"https://www.plotek.pl/plotek/7,154063,31216679...",yapping
597,pogrzeb tadeusza wozniaka zostal opozniony uja...,NaN,"https://www.plotek.pl/plotek/7,154063,31148807...",yapping
598,tomaszewska na polu ma pasek warty fortune dos...,NaN,"https://www.plotek.pl/plotek/7,154063,31155736...",yapping
599,chciala byc smoczyca usunela uszy i zeby wydal...,NaN,"https://www.plotek.pl/plotek/7,154063,31170368...",yapping

In [4]:
df['category'].value_counts()

category
wiadomosci     5418
yapping        4996
militaria      2852
technologia    2296
zdrowie         818
sport           442
Name: count, dtype: int64

In [6]:
df = df.groupby('category').filter(lambda x: len(x) > 1000)

In [4]:
df['category'].value_counts()

category
sport          7615
wiadomosci     5574
yapping        4997
militaria      2857
technologia    2305
zdrowie         839
Name: count, dtype: int64

In [8]:
# df = df.drop(df[df['category'] == 'polityka i prawo'].sample(2000).index)

In [9]:
# df['category'].value_counts()

In [4]:
# df.to_csv('../data/cleaned_data_v2.csv', index=False)
df.to_csv('../data/cleaned_data_sampled.csv', index=False)

In [6]:
import ast
df['content'] = df['content'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
df['content'][0]

['agencja',
 'uzbrojenia',
 'podpisala',
 'umowe',
 'konsorcjum',
 'sklad',
 'ktorego',
 'wchodzi',
 'huta',
 'stalowa',
 'wola',
 'sa',
 'oraz',
 'rosomak',
 'sa',
 'dostawe',
 'wozow',
 'rosomakl',
 'najnowsza',
 'wersja',
 'slawnego',
 'polskiego',
 'transportera']